:root {
    --primary-font:'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;
    --cloud-color: #F4F4FD;
    --cornflower-color: #E7E9FC;
    --iris-color: #4D5AE5;
    --navy-blue: #2E2F42;
    --slate-color: #434455;
    --ocean-color: #404BBF;
    --white-color: #FFFFFF;
}

body {
    /*font-family: 'Raleway',
    sans-serif;*/
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-color);
    background-color: var(--white-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, 
ol {
    margin-top: 0;
    margin-bottom: 0;
}

.list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
   /* display: flex;*/
}

.link {
    text-decoration: none;
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}

.section-title {
    color: var(--navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.title  {
    color: var(--navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.4px;
}

.button {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 332;
}

.page-header{
    /*max-width: 72px;*/
    border-bottom: 1px solid var(--cornflower-color);
}

.link-logo {
    margin-right: 76px;
}

.page-link {
    padding: 24px 0;
    display: block;
}

.list-header {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.page-nav {
    display: flex;
    align-items: center;
}

.header-contacts {
    display: flex;
    gap: 40px;
}

.link-logo,
.link-logo-footer {
    font-family: var(--logo-font);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    color: var(--iris-color);
    text-transform: uppercase;
}
.span-logo-header {
    color: var(--navy-blue);
}

.page-link {
    font-weight: 500;
    color: var(--navy-blue);
    display: block;
}


.page-link:hover,
.page-link:focus {
    color: var(--ocean-color);
}

.header-contacts {
    font-style: normal;
}

.header-contacts .link {
    color: var(--slate-color);
}

.header-contacts .link:hover, 
.header-contacts .link:focus {
    color: var(--ocean-color);
}

.section-one {
    background-color: var(--navy-blue);
    color: var(--white-color);
    padding-top: 188px;
    padding-bottom: 188px;
}

.container .page-title {
    max-width: 496px;
    padding-left: auto;
    padding-right: auto;
    margin-right: auto;
    margin-left: auto;
}

.section-one .button {
    color: var(--white-color);
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    background-color: var(--iris-color);
    border-radius: 4px;
    padding: 16px 32px;
    margin: 48px auto 0;
}

.section-one .button:hover,
.section-one .button:focus {
    background-color: var(--ocean-color);
}

.section-two {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-section-two {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    /*margin: 120px auto 120px;
    padding: 0;*/
}

.item-section-two {
    width: calc((100% - 3*24px) / 4);
}

.section-two .title {
    line-height: 1.2;
    margin-bottom: 8px;
}

.section-three {
    padding-bottom: 120px;
}

.section-three .section-title {
    margin-bottom: 72px;
}

.list-section-three {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 72px auto 0;
    padding: 0;
}

.section-four {
    background-color: var(--cloud-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.list-section-four {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.item-section-four {
    background-color: var(--white-color);
    /*width: 264px;*/
    width: calc((100% - 72px) / 4);
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
}

.section-four .title {
    line-height: 1.2;
    margin-bottom: 8px;
}

.section-four .section-title {
    text-align: center;
    margin-bottom: 72px;
}

.container-employee {
    padding: 32px 0px;
    text-align: center;
}

.footer {
    background-color: var(--navy-blue);
    color: var(--cloud-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.link-logo-footer {
    line-height: 1.17;
    display: inline-block;
    margin-bottom: 16px;
}

.span-logo-footer {
    color: var(--cloud-color);
}

.footer .text {
    max-width: 264px;
}

.section-portfolio {
    padding: 96px 0 120px 0;
}

.button-list {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.button-portfolio {
    color: var(--iris-color);
    background-color: var(--cloud-color);
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower-color)
}

.button-portfolio:hover,
.button-portfolio:active,
.button-portfolio:focus {
    color: var(--white-color);
    background-color: var(--ocean-color);
    border: 1px solid transparent;
}

.list-portfolio {
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.item-portfolio {
    width: calc((100% - 48px) / 3);
}

.container-portfolio {
    padding: 32px 16px;
    border: 1px solid var(--cornflower-color);
    border-top: none;
}

.section-portfolio .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px
}

