:root {
    --whitebackground: #ffffff;
    --herobackground: #2e2f42;
    --footerbackground: #2e2f42;
    --primarycolor: #2e2f42;
    --textcolor: #434455;
    --textfooter: #f4f4fd;
    --whitetext: #ffffff;
    --oceancolor: #404BBF;
    --iriscolor: #4D5AE5;
    --modalbackground: #FCFCFC;
    --closecolor: #E7E9FC;
    --modalcolor: #8e8f99;
  
    --logofont: "Raleway", sans-serif;
    --primaryfont: "Roboto", sans-serif;
  }
  body {
    font-family: var(--primaryfont);
    color: #434455;
    background-color: var(--whitebackground);
  }
  
  button {
    cursor: pointer;
    padding: 0;
    border: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  address {
    font-style: normal;
  }
  img {
    display: block;
  }
  .icon {
    fill: currentColor;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .link {
    text-decoration: none;
  }
  .list {
    list-style: none;
  }
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: auto;
  }
  .page-nav .logo {
    margin-left: 10px;
    margin-right: 76px;
  }
  .logo {
    font-family: var(--logofont);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .logo span {
    color: #2e2f42;
  }
  
  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header .container {
    display: flex;
    height: 72px;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    margin: auto;
    gap: 40px;
    margin-right: auto;
    position: relative;
  }
  .nav_item {
    margin-right: auto;
  }
  .nav_link {
    font-size: 16px;
    color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

.nav_link:hover,
.nav_link:focus {
color: var(--oceancolor);
  }

  .current {
    color: #404bbf;
  }
  .current::after {
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
  
  .page-address {
    display: flex;
  }
  .address-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 78px;
    margin-left: 210px;
  }
  .address_link {
    color: var(--textcolor);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address_link:hover,
  .address_link:active,
  .address_link:focus {
    color: #404bbf;
  }
  
  .hero {
    height: 600px;
    background-color: var(--herobackground);
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    background-position: center;
    margin: auto;
  }
  .hero .container {
    text-align: center;
  }
  .hero-header {
    max-width: 496px;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: #ffffff;
    line-height: 1.07;
    text-align: center;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-button {
    background-color: #4d5ae5;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--whitetext);
  
    display: block;
    text-align: center;
    padding: 16px 32px;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-button:hover,
  .hero-button:active,
  .hero-button:focus {
    background-color: #404bbf;
  }
  .advantages-section {
    padding: 120px 0;
  }
  .advantages-section .card-set {
    gap: 24px;
  }
  
  .advantages-section .card {
    width: calc((100% - 3 * 24px) / 4);
    align-items: center;
  }
  
  .advantages_icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  
  .card_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .card_subtitle {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--textcolor);
    font-weight: 400;
  }
  .section-header {
    font-size: 36px;
  
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
  }
  .doing-section {
    padding-bottom: 120px;
  }
  .card-set {
    display: flex;
    flex-wrap: wrap;
  }
  .doing-section .card-set {
    gap: 24px;
  }
  .doing-section .card {
    width: calc((100% - 2 * 24px) / 3);
  }
  
  .team-section {
    background-color: #f4f4fd;
    padding: 120px 0;
  }
  .team-section .card-set {
    gap: 24px;
  }
  .team-section .card {
    background-color: #ffffff;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .team-section .card-text {
    padding: 32px 0;
    justify-content: center;
  }
  .team-section .card_title {
    margin-bottom: 8px;
  }
  .team-section .card_subtitle {
    margin-bottom: 8px;
  }
  .team-section .card_soc-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  
  .team-section .card_soc-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    padding: 12px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-section .card_soc-link:hover,
  .team-section .card_soc-link:focus {
    background-color: #404bbf;
  }
  .team-section .icon {
    fill: #f4f4fd;
  }
  
  .customer-section {
    padding: 120px 0px;
  }
  .customer-section .icon {
    fill: #8e8f99;
  }
  
  .customer-section .card-set {
    gap: 24px;
  }
  .customer-section .card {
    width: calc((100% - 5 * 24px) / 6);
  }
  .customer-section .card {
    height: 88px;
  }
  .customer_link {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    color: #404bbf;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #8e8f99;
  }
  .customer-section .icon {
    fill: currentColor;
  }
  .customer-section .icon:hover,
  .customer-section .icon:focus {
    fill: currentColor;
  }
  .customer-section .customer_link:hover,
  .customer-section .customer_link:focus {
    border: 1px solid #404bbf;
    color: #404bbf;
  }
  .footer {
    background-color: var(--footerbackground);
    padding: 100px 0px;
    /* align-items: baseline;
    display: flex; */
  }
  .footer .logo {
    display: inline-block;
    margin-bottom: 16px;
  }
  .footer span {
    color: #f4f4fd;
  }
  .footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
  }
  .footer_soc-title {
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    font-weight: 500;
  
    margin-bottom: 16px;
  }
  .flex-box {
    display: flex;
    align-items: baseline;
  }
  
  .footer-box {
    margin-right: 120px;
  }
  .footer_soc-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-self: baseline;
  }
  .footer_soc-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer_soc-link:hover,
  .footer_soc-link:focus {
    background-color: #31d0aa;
  }
  .footer_soc-list .icon {
    fill: currentColor;
  }
  .portfolio-section {
    padding: 96px 0 120px 0;
  }
  .filter-button {
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #e7e9fc;
  
    font-family: var(--primaryfont);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    text-align: center;
    padding: 12px 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .filter-button:hover,
  .filter-button:focus {
    color: #ffffff;
    background: #404bbf;
    border: 1px solid transparent;
  
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  .filter-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }
  .portfolio-section .card-set {
    gap: 24px;
    row-gap: 48px;
  }
  .portfolio-section .card {
    width: calc((100% - 2 * 24px) / 3);
  }
  .portfolio-section .card-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  
  .portfolio-section .card_title {
    margin-bottom: 8px;
  }
  .card-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card-link:hover,
  .card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .card-img {
    position: relative;
  }
  
  .overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    transform: translateY(100%);
  }
  .card-link:hover .overlay-text,
  .card-link:focus .overlay-text {
    transform: translateY(0%);
  }
  .card-img {
    position: relative;
    overflow: hidden;
  }
  
.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--whitetext);
    padding-left: 16px;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); 
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--whitetext);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-subscribe-button {
    min-width: 165px;
    height: 40px;
    color: var(--whitetext);
    background-color: var(--iriscolor);
    /*text-align: center;*/
    font-style: normal;
    padding: 8px 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background-color: var(--oceancolor);
}

.subscribe-icon {
    fill: var(--whitebackground);
    margin-left: 16px;
}

.social-media-footer {
  font-weight: 500;
  margin-bottom: 16px;
  color: var(--whitebackground);
  line-height: 1.5; 
  letter-spacing: 0.02em;
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* padding-right: 0px;*/
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--modalbackground);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.open-modal:hover {
  opacity: 0.8;
}

.modal-form {
  color: var(--herobackground);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.modal-title {
  width: 100%;
  color: var(--herobackground);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.modal-field {
  margin-bottom: 8px;
}

.modals-field {
  margin-bottom: 16px
}

.modal-label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
  color: #8E8F99;
  font-size: 12px; 
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modalcolor);
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 24px;
  background-color: transparent;
  border-radius: 4px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--iriscolor);
}

.form-input:focus+.modal-input-icon {
  fill: var(--iriscolor);
}

.modal-input-wrap {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  fill: var(--herobackground);
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon:hover,
.modal-input-icon:focus {
  fill: var(--iriscolor);
}

.textarea {
  width: 100%;
  height: 120px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 0px;
  outline: transparent;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: #4D5AE5; 
}

.textarea:focus::placeholder {
  color: var(--herobackground);
}

.check-hidden {
  margin-bottom: 24px; 
}

.privacy-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--modalcolor); 
}

.policy {
  width: 16px;
  height: 16px; 
  border: 1px solid rgba(46, 47, 66, 0.4); 
  border-radius: 2px; 
  background-color: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center; 
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-link {
  color: #4d5ae5; 
}

.check-input {
  margin-top: 16px;
  margin-bottom: 24px;
}

input:checked + span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD; 
}

.submit-button {
  display: block;
  width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--iriscolor);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: var(--whitebackground);
  text-align: center;
  cursor: pointer;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.close-button {
  position: absolute;
  right: 24px;
  top: 24px;
  fill: var(--footerbackground);
  background-color: var(--closecolor);
  border: none;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  fill: var(--white-color);
  background-color: var(--ocean-color);
  border: none;
}

.modal-close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}

.no-scroll {
  overflow: hidden;
}

